@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@* 1) In Index.razor, update the <Counter> element to add an IncrementAmount attribute that changes the increment amount to 10, as shown by the last line in the following code: *@
<Counter IncrementAmount="10"/>
